/* Target all elements in the webpage  */
* {
    box-sizing: border-box;
  }
  
  /* Targets the entire body of the website */
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  /* Targets all the heading elements on the page */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  /* Targets all the paragraph elements on the page */
  p {
    margin: 0;
  }
  
  /* Styling for the header section */
  header{
    background-color: #86A789;
    color: #113946;
  }
  
  /* Applies styles to the h1 element within the header and the nav element */
  header h1, nav{
    display: inline-block;
    margin: 10px;
  }
  
  /* Applies styles to the h1 element within the header */
  header h1{
    width: 70%;
    padding: 10px;
  }

  /* Targets the anchor element with the nav element */
  nav a{
    width: 30%;
    padding: 40px;
    text-decoration: none;
    color: #113946;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Targets the class "hero-banner" */
  .hero-banner{
    background-color: #B2C8BA;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Targets the div element within the class "hero-banner" */
  .hero-banner div{
    margin: 20px 50px;
    padding: 40px;
    font-size: 20px;
    @media (max-width: 600px) {
      margin: 0;
    }
  }
/* Targets the img element within the class "hero-banner" */
  .hero-banner img{
    border-radius: 20rem;
    height: 400px;
    width: 400px;
    @media (max-width: 600px) {
      height: 200px;
      width: 200px;
    }
  }

  /* Targets the id "my-summary" within the class "hero-banner" */
  .hero-banner #my-summary{
    padding: 80px;
    color: #113946;
  }
   /* Targets the class "page-section" */
  .page-section{
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  /* Targets all the h2 elements within the website */
  .header-column{
    width: 30%;
  }

  .para-column{
    width: 70%;
  }

  @media (max-width: 600px) {
    .header-column, .para-column{
      width: 100%;
    }
  }

  /* Targets the class "page-wrapper" */
  .page-wrapper{
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  /* Applies styles to the id "work" */
  #work{
    /* flex: 4; */
    background-color: #fff;
    padding: 20px 0;
    display: flex;
  }

  .card-column{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
      width: 100%;
    }
  }

  /* Applies styles to the class "card" */
  .card {
    border: 3px solid #113946;
    border-radius: 10px;
    flex: 0 0 calc(25% - 20px);
    margin: 0;
    @media (max-width: 600px) {
      flex: 0 0 100%;
    }
  }

 

  /* Targets the header element within the class "card" */
  .card header {
    padding: 4px 8px;
    background-color: #113946;
    border-bottom: 5px solid #86A789;
    color: #86A789;
  }

  /* Targets the image element within the class "card" */
  .card img {
    width: 100%;
  }

  /* Applies styling to the footer */
  footer{
    display: flex;
    justify-content: center;
    background-color: #86A789;
    color: #113946;
    text-align: center;
  }


  

  
  
 